/* General */

html,
body {
  height: 100%;
  margin: 0;
}

header {
  grid-column: 1/-1;
  background-color: #17191b;
}

header span {
    margin: 15px;
    padding: 0px;
    display: flex;
    align-content: center;
    color: #007849;
}

main {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: minmax(300px, 25%) minmax(340px, auto);
  height: 100%;
  overflow-y: hidden;
}

h1 {
  margin: 0px;
  font-size: 80px;
  font-family: "Bebas Neue";
  color: white;
}

h2 {
  margin: 0px;
  font-size: 40px;
  font-family: "Bebas Neue";
  color: white;
}

p {
  margin: 10px 0px;
  font-size: 18px;
  font-family: monospace;
  color: white;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Feed */

nav {
  height: auto;
  min-width: 300px;
  border: 20px;
  padding: 10px 0px 20px 0px;
  overflow-y: scroll;
  background-color: #202225;
}

.nav-card {
  margin: 20px 10px 10px 20px;
  padding: 10px;
  border-radius: 0.3em;
  background-color: #2f3136;
}

.nav-card.selected {
  background-color: #202225;
}

/* Status */

.space-between span {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 0.3em;
  border-style: solid;
  font-size: 18px;
  font-family: "Lato";
  color: white;
}

span.Introduced {
  background-color: #475c82;
}
span.Engrossed {
  background-color: #a8cbaf;
}
span.Enrolled {
  background-color: #f8daa3;
}
span.Passed {
  background-color: #64b385;
}
span.Vetoed {
  background-color: #f3b09d;
}
span.Failed {
  background-color: #e18b88;
}

/* Content */

section {
  height: auto;
  padding: 20px 30px 20px 20px;
  background-color: #202225;
  overflow-y: scroll;
}

section p {
  font-size: 22px;
  padding: 20px 0px;
}

section h2 {
  border-top: 7px solid #007849;
  margin: 50px 0px;
  text-align: center;
  line-height: 0em;
  color: #a75142;
}

section h2 span {
  background: #202225;
  padding: 0px 10px;
}

.section-header {
  margin-top: 10px;
  padding: 17px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3em;
  background-color: #2f3136;
}

.sponsor {
  margin: 0px 10px 20px 0px;
  padding: 5px;
  border-radius: 0.3em;
  border-style: solid;
  font-size: 22px;
  font-family: "Lato";
  color: white;
  display: inline-block;
}

.progress {
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 0.3em;
  background-color: #2f3136;
}

.progress .date {
  display: block;
  padding: 5px;
  font-size: 22px;
  font-family: "Lato";
  color: white;
}

.progress .action {
    display: block;
    padding: 5px;
    font-size: 22px;
    font-family: "Lato";
    color: white;
  }

/* Miscellaneous */

::-webkit-scrollbar {
  width: 0px;
}

/* #008f95
#e86e80
#e9b000
#e24e42 

#262228
#007849

DCF9DC
7FC6A4
334147
1B1F22
*/


